body {
    background-color:slategray;
    text-align:center;

}
p{
    color:white;
    font-family:shanti;
    font-size: 1.2em;
    margin:20px;
}
img {
    margin: 60px 0 30px 0 ;
    width: 250px;
}
input {
    width :300px;
    height:50px;
    margin:20px;
    border:none;
    border-radius:3px;
    font-family:Shanti;
    text-align: center;
    font: size 1.3em;

}
input:focus{
    border:solid 5px #00FFCE;
}
#greet {
    background-color: palevioletre;
    color:aliceblue;
    width:200px;
}

#greed:hover{
  background-color: mediumvioletred;
  cursor: pointer;
}